<div id="details-page" class="hidden pt-3">
  <div id="details-header" class="d-flex align-items-center">
    <div id="close-btn" class="d-flex align-items-center justify-content-center" (click)="closeDetails()">
      <fa-icon icon="chevron-right" size="sm" id="btn-icon"></fa-icon>
    </div>
  </div>
  <hr>
  <div id="details-content">
    <ng-container *ngIf="(store$|async) as store">
      <div id="store-info-display" class="d-flex align-items-center">
        <h2>{{store.store_number}}</h2>
        <h5 id="availability" [ngClass]="{'available': store.available===true, 'unavailable': store.available===false}">
          <ng-container *ngIf="store.available===true">Available</ng-container>
          <ng-container *ngIf="store.available===false">Unavailable</ng-container>
        </h5>
      </div>

      <div id="store-details">
        <p>State:
          <span id="state-display" [ngClass]="{'good':store.status==='good', 'negative': store.status==='negative'}">
            <ng-container *ngIf="store.status==='negative'">
              Bad state
            </ng-container>
            <ng-container *ngIf="store.status==='good'">
              Good state
            </ng-container>
          </span>
        </p>
      </div>
    </ng-container>
    <!-- {{store$|async|json}} -->
  </div>
</div>
<div id="backdrop"></div>
