#details-page {
  position: absolute;
  width: 40%;
  top: 6.5vh;
  right: 1%;
  bottom: 1vh;
  background-color: #fff;
  border-radius: 4px;
  z-index: 2;

  #details-header {
    padding: 0 2%;

    #close-btn {
      width: 20px;
      height: 20px;
      border-radius: 50px;
      background-color: #000;

      #btn-icon {
        color: #fff;
      }
    }

    #close-btn:hover {
      cursor: pointer;
    }
  }

  #details-content {
    padding: 0 2%;

    #store-info-display {
      column-gap: 5%;
    }

    #store-details {
      margin-top: 2vh;
    }
  }
}

#backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #000;
  opacity: 0.1;
}

.negative {
  color: #ecad00;
}

.good {
  color: #3eb000;
}

.available {
  color: #3eb000;
  background-color: #3eb00054;
}

.unavailable {
  color: #ff0707;
  background-color: #ff07073b;
}

/* #################### Details page animation #################### */
.hidden {
  transform: translateX(120%);
}

.opened {
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.closed {
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(120%);
    opacity: 0;
  }
  100% {
    transform: translateX(-1%);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(0%);
    opacity: 0;
  }
  100% {
    transform: translateX(120%);
    opacity: 1;
  }
}
