<div id="map" class="container d-flex flex-wrap">
  <ng-container *ngFor="let store of stores">
    <app-store [store]="store" (click)="openDetails()" routerLink="/stores/details/{{store.id}}"></app-store>
  </ng-container>
</div>
