<div class="container-fluid p-0">
  <header id="desktop-header" class="header fixed-top">
    <div id="logo-zone">
      <h2 class="m-0">Reservation</h2>
    </div>

    <nav>
      <ul class="menu-list d-flex align-items-center justify-content-end m-0 p-0">
        <li>Home</li>
        <li (click)="navigateToStores()">Stores</li>
      </ul>
    </nav>
  </header>

  <header id="mobile-header" class="header">
    <div id="logo-zone" class="d-flex align-items-center">
      <fa-icon icon="bars" size="lg" (click)="toggleMenu()"></fa-icon>
      <h2 class="m-0">Reservation</h2>
    </div>

    <nav id="mobile-menu" class="hidden">
      <ul class="menu-list">
        <li>Home</li>
        <li>Stores</li>
      </ul>
    </nav>
  </header>
</div>
