@media only screen and (max-width: 767px) {
  #desktop-header {
    display: none;
  }

  header {
    padding-top: 1vh;
    padding-bottom: 1vh;

    #logo-zone {
      column-gap: 2.5%;
    }

    nav {
      width: 30%;
      height: 0;
      color: #000;
      position: relative;
      z-index: -1;
      top: 1vh;

      ul {
        column-gap: 2%;
        border: 1px solid #d3d3d3;

        li {
          height: 4vh;
          padding: 0 5%;
          display: flex;
          align-items: center;
          border-bottom: 1px solid #d3d3d3;
        }
      }
    }
  }

  /* #################### Mobile Dropdown classes #################### */
  .hidden {
    display: none;
    animation: slide-in-top 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both;
  }

  .show {
    animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @keyframes slide-in-top {
    0% {
      transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
