@media (min-width: 768px) {
  #mobile-header {
    display: none;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      margin: 0;
    }

    nav {
      width: 30%;

      ul {
        column-gap: 2%;

        li {
          padding: 1.5vh 4%;
        }

        li:hover {
          cursor: pointer;
          background-color: lightgrey;
        }
      }
    }
  }
}
