<div class="store d-flex flex-column align-items-center" [ngClass]="{ 'available': store?.available === true, 'unavailable': store?.available === false }">
  <div id="header">
    <div class="state-indicator" [ngClass]="{ 'status-good': store?.status === 'good', 'status-negative': store?.status === 'negative' }"></div>
  </div>
  <div id="content">
    <fa-icon icon="shop" size="2x"></fa-icon>
    <p class="m-0 text-center"><strong>{{ store?.store_number }}</strong></p>
  </div>
</div>
