.store {
  padding: 2%;
  row-gap: 0.3vh;
  width: fit-content;
  border-radius: 4px;

  #header {
    margin: 7% 5% 0 auto;
  }

  #content {
    margin: 0.5vh 1vw;
  }
}

.store:hover {
  cursor: pointer;
}
