@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.header {
  padding: 0;
  color: #fff;
  padding: 0 2%;
  background-color: #303030;
}

.menu-list {
  list-style-type: none;
  padding: 0;
}

.state-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50px;
}

.available {
  color: #11b811;
  background-color: #a5fda56e;
  border: 1px solid #00ff0098;
}

.unavailable {
  color: #b81111;
  background-color: #fda5a56e;
  border: 1px solid #ff000098;
}

.status-good {
  background-color: #11b811;
}

.status-negative {
  background-color: #ecad00;
}
