#legend {
  column-gap: 4%;
  row-gap: 1vh;
  display: flex;

  .legend-item {
    display: flex;
    align-items: center;
    width: fit-content;

    p {
      margin: 0 0 0 0.5vw;
    }

    #available {
      color: #11b811;
    }

    #unavailable {
      color: #b81111;
    }
  }
}

#map {
  margin-top: 3vh;
}

@media (min-width: 768px) {
  #content-wrapper {
    display: flex;
    column-gap: 10%;
    margin-top: 10vh;
    align-items: baseline;
  }

  #legend {
    flex-direction: column;
  }
}
