<app-header></app-header>
<div class="container" id="content-wrapper">
  <div id="legend">
    <div class="legend-item">
      <fa-icon icon="shop" size="sm" id="available"></fa-icon>
      <p>Available</p>
    </div>
    <div class="legend-item">
      <fa-icon icon="shop" size="sm" id="unavailable"></fa-icon>
      <p>Unavailable</p>
    </div>
    <div class="legend-item">
      <div class="state-indicator status-good"></div>
      <p>Good state</p>
    </div>
    <div class="legend-item">
      <div class="state-indicator status-negative"></div>
      <p>Bad state</p>
    </div>
  </div>

  <div id="map">
    <ng-container *ngIf="(storeList|async) as stores">
      <app-stores-map [stores]="stores"></app-stores-map>
    </ng-container>
  </div>
</div>
<router-outlet></router-outlet>
